@import "~bulma/bulma.sass";

$fonts: 'Poppins', sans-serif;

$primaryFontColor: #2e2e2e;

$whatsappGreenColor: #25D366;
$welcomeBackgroundColor: #FFD23F;

h1 {
    font-weight: 800;
    font-size: 90px;
    line-height: 110px;
    max-width: 80%;
}

h2 {
    font-weight: 800;
    font-size: 40px;
}

p {
    font-weight: 600;
    font-size: 20px;
}

small {
    font-size: 16px;
}

body {
    font-family: $fonts;
    margin: 0;
    padding: 0;
    color: $primaryFontColor;
}

@media screen and (max-width: 1350px) {

}